.list-row {
  border-bottom: 1px solid #eeeeee;
  display: flex;
  align-items: flex-start;
}
.row-text {
  overflow : hidden;
  /* text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical; */
  line-height: 24px;
  font-size: 14px;
}

.row-left {
  width: 220px;
  display: block;
}

.row-left img {
  width: 200px;
  height: 200px;
}